In [1]:
import warnings
warnings.filterwarnings('ignore')

In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('titanic.csv')

In [22]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Embarked'] = le.fit_transform(df['Embarked'])
df['Sex'] = le.fit_transform(df['Sex'])
df['Cabin'] = le.fit_transform(df['Cabin'])
df_without_nan = df.dropna()
Y = df_without_nan['Survived']
X = df_without_nan.drop(['Survived', 'Ticket', 'Name'], axis= 1 )
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)
lr = LogisticRegression()

In [31]:
from sklearn.metrics import accuracy_score
#df_without_nan
lr.fit(X_train, y_train)
y_pred1 = lr.predict(X_test)
accuracy_score(y_test, y_pred1)

0.8156424581005587

In [32]:
#With preprocessing
from sklearn.metrics import accuracy_score

df = pd.read_csv('titanic.csv')

df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Cabin'].fillna(df['Cabin'].mode(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode(), inplace=True)

le = LabelEncoder()
df['Embarked'] = le.fit_transform(df['Embarked'])
df['Sex'] = le.fit_transform(df['Sex'])
df['Cabin'] = le.fit_transform(df['Cabin'])

                               
X = df.drop(['Survived', 'Ticket', 'Name'], axis= 1 )
Y = df['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)
lr.fit(X_train, y_train)

LogisticRegression()

In [33]:
from sklearn.metrics import accuracy_score
#df_without_nan
lr.fit(X_train, y_train)
y_pred1 = lr.predict(X_test)
accuracy_score(y_test, y_pred1)

0.7932960893854749

In [34]:
from sklearn.metrics import confusion_matrix

cm= confusion_matrix(y_test,y_pred1)
cm

array([[100,  12],
       [ 25,  42]], dtype=int64)

In [35]:
from sklearn.metrics import accuracy_score
y_pred = lr.predict(X_test)
accuracy_score(y_test, y_pred)

0.7932960893854749

In [36]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.89      0.84       112
           1       0.78      0.63      0.69        67

    accuracy                           0.79       179
   macro avg       0.79      0.76      0.77       179
weighted avg       0.79      0.79      0.79       179