In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('iris.csv')

In [4]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [6]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [8]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['SepalLengthCm'] = le.fit_transform(df['SepalLengthCm'])
df['SepalWidthCm'] = le.fit_transform(df['SepalWidthCm'])
df['PetalLengthCm'] = le.fit_transform(df['PetalLengthCm'])
df['Species'] = le.fit_transform(df['Species'])
df_without_nan = df.dropna()
Y = df_without_nan['Species']
X = df_without_nan.drop(['Id'], axis= 1 )
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)
lr = LogisticRegression()

In [10]:
from sklearn.metrics import accuracy_score
#df_without_nan
lr.fit(X_train, y_train)
y_pred1 = lr.predict(X_test)
accuracy_score(y_test, y_pred1)

1.0

In [11]:
from sklearn.metrics import accuracy_score
#df_without_nan
lr.fit(X_train, y_train)
y_pred1 = lr.predict(X_test)
accuracy_score(y_test, y_pred1)

1.0

In [12]:
#With preprocessing
from sklearn.metrics import accuracy_score

df = pd.read_csv('iris.csv')

df['SepalLengthCm'].fillna(df['SepalLengthCm'].mean(), inplace=True)
df['SepalWidthCm'].fillna(df['SepalWidthCm'].mean(), inplace=True)
df['PetalLengthCm'].fillna(df['PetalLengthCm'].mean(), inplace=True)
df['Species'].fillna(df['Species'].mode(), inplace=True)
le = LabelEncoder()
df['SepalLengthCm'] = le.fit_transform(df['SepalLengthCm'])
df['SepalWidthCm'] = le.fit_transform(df['SepalWidthCm'])
df['Species'] = le.fit_transform(df['Species'])

                               
X = df.drop(['Species'], axis= 1 )
Y = df['Species']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)
lr.fit(X_train, y_train)

LogisticRegression()

In [13]:
from sklearn.metrics import accuracy_score
#df_without_nan
lr.fit(X_train, y_train)
y_pred1 = lr.predict(X_test)
accuracy_score(y_test, y_pred1)

1.0

In [14]:
from sklearn.metrics import confusion_matrix

cm= confusion_matrix(y_test,y_pred1)
cm

array([[ 9,  0,  0],
       [ 0,  8,  0],
       [ 0,  0, 13]], dtype=int64)

In [15]:
from sklearn.metrics import accuracy_score
y_pred = lr.predict(X_test)
accuracy_score(y_test, y_pred)

1.0

In [16]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         9
           1       1.00      1.00      1.00         8
           2       1.00      1.00      1.00        13

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30