# Support Vector Classification

Write a program to implement a support vecctor machine with various datasets and evaluate the classification accuracy
- 1.svc
- 2.svr

# SVC

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
df = pd.read_csv('drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])
df['BP'] = le.fit_transform(df['BP'])
df['Cholesterol'] = le.fit_transform(df['Cholesterol'])

In [4]:
df

     Age  Sex  BP  Cholesterol  Na_to_K   Drug
0     23    0   0            0   25.355  DrugY
1     47    1   1            0   13.093  drugC
2     47    1   1            0   10.114  drugC
3     28    0   2            0    7.798  drugX
4     61    0   1            0   18.043  DrugY
..   ...  ...  ..          ...      ...    ...
195   56    0   1            0   11.567  drugC
196   16    1   1            0   12.006  drugC
197   52    1   2            0    9.894  drugX
198   23    1   2            1   14.020  drugX
199   40    0   1            1   11.349  drugX

[200 rows x 6 columns]

In [5]:
Y = df['Drug']
X = df.drop(['Drug'], axis=1)
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [6]:
from sklearn.svm import SVC
svc = SVC(kernel='linear',C=1E10)
svc.fit(X_train, Y_train)
y_pred = svc.predict(X_test)
svc.score(X_test, Y_test)

1.0

In [7]:
svc.support_vectors_

array([[48.   ,  0.   ,  1.   ,  0.   , 15.036],
       [74.   ,  1.   ,  0.   ,  1.   , 15.436],
       [60.   ,  1.   ,  2.   ,  0.   , 15.171],
       [43.   ,  1.   ,  1.   ,  0.   , 15.376],
       [41.   ,  1.   ,  0.   ,  1.   , 15.156],
       [56.   ,  1.   ,  1.   ,  0.   , 15.015],
       [24.   ,  1.   ,  0.   ,  1.   ,  9.475],
       [38.   ,  0.   ,  0.   ,  1.   , 11.326],
       [45.   ,  0.   ,  0.   ,  0.   , 12.854],
       [19.   ,  0.   ,  0.   ,  0.   , 13.313],
       [43.   ,  1.   ,  0.   ,  0.   , 13.972],
       [50.   ,  1.   ,  0.   ,  0.   ,  7.49 ],
       [32.   ,  0.   ,  0.   ,  1.   , 10.292],
       [42.   ,  1.   ,  0.   ,  1.   , 12.766],
       [26.   ,  0.   ,  0.   ,  1.   , 12.307],
       [32.   ,  1.   ,  0.   ,  1.   ,  9.445],
       [53.   ,  0.   ,  0.   ,  1.   , 12.495],
       [60.   ,  1.   ,  0.   ,  0.   , 13.934],
       [60.   ,  0.   ,  0.   ,  0.   , 13.303],
       [68.   ,  0.   ,  0.   ,  1.   , 10.189],
       [65.   ,  1.   ,  0.   ,  1.   , 11.34 ],
       [74.   ,  1.   ,  0.   ,  0.   ,  9.567],
       [55.   ,  0.   ,  0.   ,  0.   , 10.977],
       [51.   ,  1.   ,  0.   ,  1.   , 11.343],
       [72.   ,  1.   ,  0.   ,  1.   ,  9.677],
       [47.   ,  1.   ,  1.   ,  0.   , 13.093],
       [56.   ,  0.   ,  1.   ,  0.   , 11.567],
       [32.   ,  0.   ,  1.   ,  0.   ,  9.712],
       [47.   ,  1.   ,  1.   ,  0.   , 10.114],
       [49.   ,  1.   ,  1.   ,  0.   , 10.537],
       [59.   ,  0.   ,  1.   ,  0.   , 10.444],
       [26.   ,  0.   ,  1.   ,  0.   , 14.16 ],
       [16.   ,  1.   ,  1.   ,  0.   , 12.006],
       [72.   ,  1.   ,  1.   ,  0.   ,  6.769],
       [47.   ,  0.   ,  1.   ,  0.   , 10.067],
       [15.   ,  1.   ,  2.   ,  0.   ,  9.084],
       [24.   ,  0.   ,  2.   ,  0.   , 10.605],
       [22.   ,  1.   ,  2.   ,  0.   , 11.953],
       [64.   ,  1.   ,  2.   ,  0.   ,  7.761],
       [39.   ,  1.   ,  1.   ,  1.   , 13.938],
       [69.   ,  1.   ,  1.   ,  1.   , 11.455],
       [45.   ,  1.   ,  1.   ,  1.   ,  8.37 ],
       [53.   ,  1.   ,  2.   ,  0.   , 14.133],
       [34.   ,  0.   ,  1.   ,  1.   , 12.923],
       [36.   ,  1.   ,  1.   ,  1.   , 11.424],
       [56.   ,  1.   ,  2.   ,  0.   ,  8.966],
       [37.   ,  1.   ,  1.   ,  1.   ,  8.968],
       [72.   ,  0.   ,  1.   ,  1.   , 14.642],
       [32.   ,  0.   ,  1.   ,  1.   , 10.84 ],
       [20.   ,  0.   ,  1.   ,  1.   , 11.686],
       [23.   ,  1.   ,  2.   ,  0.   , 12.26 ],
       [65.   ,  0.   ,  1.   ,  1.   , 13.769],
       [49.   ,  1.   ,  1.   ,  1.   , 11.014],
       [69.   ,  0.   ,  2.   ,  0.   , 10.065]])

In [8]:
from sklearn.metrics import classification_report
print(classification_report(Y_test, y_pred))

              precision    recall  f1-score   support

       DrugY       1.00      1.00      1.00        34
       drugA       1.00      1.00      1.00         7
       drugB       1.00      1.00      1.00         3
       drugC       1.00      1.00      1.00         4
       drugX       1.00      1.00      1.00        12

    accuracy                           1.00        60
   macro avg       1.00      1.00      1.00        60
weighted avg       1.00      1.00      1.00        60

In [9]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

cm=confusion_matrix(Y_test,y_pred)
ac=accuracy_score(Y_test, y_pred)
print(cm)
print(ac)

[[34  0  0  0  0]
 [ 0  7  0  0  0]
 [ 0  0  3  0  0]
 [ 0  0  0  4  0]
 [ 0  0  0  0 12]]
1.0